@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind components;

:root {
  --ig-primary-button: 0, 149, 246;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #000;
}

a {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}

@layer components {
  .active {
  }

  .circle {
    @apply rounded-[50%]  bg-red-400;
  }
}

@layer base {
  p {
    @apply text-base;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  background-repeat: no-repeat !important;
  background-position: -294px -273px !important;
  height: 45px !important;
  width: 45px !important;
}
.icon-cog {
  color: white;
}
